---
layout: wrapped
wrapOptions:
    verticalCenter: true
    narrow: true
title: Home
noHeader: true
footerOptions:
    noSeperate: true
tags:
    - sitemapInclude
---
.home
    h1= siteConfig.title
    nav.font-large.nav-list
        each pageItem in navPages
            a(href=pageItem.url rel=pageItem.rel) #{pageItem.name}
    p= siteConfig.description
