---
layout: wrapped
wrapOptions:
    verticalCenter: true
    narrow: true
title: Home
noHeader: true
footerOptions:
    noSeperate: true
tags:
    - sitemapInclude
dates:
    published: "2023-09-11 20:00 Z+3"
    modified: "2023-09-28 16:00 Z+3"
---
.home
    h1= siteConfig.title
    nav.font-large.nav-list
        each pageItem in navPages
            a(href=pageItem.url rel=pageItem.rel) #{pageItem.name}
    p= siteConfig.description
