---
title: Typography Test
dates:
  published: "2023-01-01 20:01 Z+3"
  modified: "2023-12-30 19:01 Z+3"
---

<!--excerpt-->

include /m_anchoredHeading

- const resetStyle="margin:0;padding:0;margin-top:1.5rem;";

+anchoredHeading(2, "Lorem ipsum dolor sit amet_._")(style=resetStyle)
+anchoredHeading(3, "Lorem ipsum dolor sit amet_._")(style=resetStyle)
+anchoredHeading(4, "Lorem ipsum dolor sit amet_._")(style=resetStyle)
+anchoredHeading(5, "Lorem ipsum dolor sit amet_._")(style=resetStyle)
+anchoredHeading(6, "Lorem ipsum dolor sit amet_._")(style=resetStyle)

hr 

p(style=resetStyle).font-huge Lorem ipsum dolor sit amet_._
p(style=resetStyle).font-large Lorem ipsum dolor sit amet_._
p(style=resetStyle) Lorem ipsum dolor sit amet_._
p(style=resetStyle).font-small Lorem ipsum dolor sit amet_._
p(style=resetStyle).font-tiny Lorem ipsum dolor sit amet_._

hr 

+anchoredHeading(2, "Lorem ipsum dolor sit amet_._")
p Lorem ipsum dolor sit amet_._
+anchoredHeading(3, "Lorem ipsum dolor sit amet_._")
p Lorem ipsum dolor sit amet_._
+anchoredHeading(4, "Lorem ipsum dolor sit amet_._")
p Lorem ipsum dolor sit amet_._
+anchoredHeading(5, "Lorem ipsum dolor sit amet_._")
p Lorem ipsum dolor sit amet_._
+anchoredHeading(6, "Lorem ipsum dolor sit amet_._")
p Lorem ipsum dolor sit amet_._
