---
layout: wrapped
tags:
    - sitemapInclude
pagination:
    data: projects
    size: 1
    alias: projectItem
    addAllPagesToCollections: true
omitPageNumberInTtile: true
---
include /m_youtubeEmbed
include /m_feather
include /m_anchoredHeading

article.project
    header
        h1.name= projectItem.name
    ul.details
        li= projectItem.type
        li= projectItem.for
        each linkItem in projectItem.links
            li: a(href=linkItem.url target="_blank")= linkItem.name
    ul.categories
        each categoryItem in projectItem.categories
            li= categoryItem
    if projectItem.youtubeId
        .media
            .placeholder
                +feather("film")
                span Loading
            +youtubeEmbed(projectItem.youtubeId)
    if projectItem.description
        p.description= projectItem.description
    p.involvement
        span Involvement:
        each involvementItem in projectItem.involvement
            span= involvementItem
